alabaster==1.0.0
attrs==25.3.0
babel==2.17.0
bitarray==3.4.3
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
coverage==7.9.2
cryptography==45.0.5
docutils==0.21.2
id==1.5.0
idna==3.10
imagesize==1.4.1
iniconfig==2.1.0
jaraco-classes==3.4.0
jaraco-context==6.0.1
jaraco-functools==4.2.1
jeepney==0.9.0
jinja2==3.1.6
keyring==25.6.0
markdown-it-py==3.0.0
markupsafe==3.0.2
mdurl==0.1.2
more-itertools==10.7.0
mypy==1.17.0
mypy-extensions==1.1.0
nh3==0.2.21
packaging==25.0
pathspec==0.12.1
pluggy==1.6.0
pycparser==2.22
pygments==2.19.2
pytest==8.4.1
pytest-cov==6.2.1
readme-renderer==44.0
requests==2.32.4
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.0.0
roman-numerals-py==3.1.0
ruff==0.12.4
secretstorage==3.3.3
snowballstemmer==3.0.1
sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
twine==6.1.0
typing-extensions==4.14.1
urllib3==2.5.0
