# These are all requirements for development
# These requirements are not needed for using the module

# BASE
bitarray

# TEST
flake8
coverage
nose
mypy

# DEPLOY
twine
wheel

# DOCS
sphinx
