name: CI

on: [push]

jobs:
  build:
    name: Testing on ${{ matrix.os }} with Python version ${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python: ['3.7', '3.8', '3.9', '3.10']
        os: ['ubuntu-latest']
    steps:
      - uses: actions/checkout@master
        
      - name: Setup python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
          architecture: x64

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Run tests with coverage and create report as xml file
        run: make test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
            token: ${{secrets.CODECOV_TOKEN}}
            file: coverage.xml

      - name: Run Flake8
        run: flake8

      - name: Run Mypy
        run: mypy --strict ./pyais
