name: CI

on:
  push:
  pull_request:
    types: [opened, reopened, review_requested, edited]

jobs:
  build:
    name: Testing on ${{ matrix.os }} with Python version ${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python: ['3.9', '3.10', '3.11', '3.12', '3.13']
        os: ['ubuntu-latest']
    steps:
      - uses: actions/checkout@master

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Run tests with coverage and create report as xml file
        run: make test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
            token: ${{secrets.CODECOV_TOKEN}}
            file: coverage.xml

      - name: Run Ruff
        run: make ruff

      - name: Run Mypy
        run: mypy --strict ./pyais
